@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
	--fletnix-red: hsl(357, 92%, 47%);
	--fletnix-white: hsl(0, 0%, 100%);
	--fletnix-black: hsl(0, 0%, 0%);
	--fletnix-grey-light: hsl(0, 0%, 31%);
	--fletnix-grey-dark: hsl(0, 0%, 18%);
	--fletnix-grey-med: rgba(255, 255, 255, 0.7);

	--fs-900: 3rem;
	--fs-700: 1.5rem;
	--fs-600: 1.25rem;
	--fs-500: 1rem;
	--fs-400: 0.875rem;

	--fw-400: 400;
	--fw-900: 900;

	--nav-height: 90px;

	--ff-logo: 'Bebas Neue';
	--ff-body: 'Roboto';

	--section-width: 85%;
	--section-gutter: calc((100% - var(--section-width)) / 2);
}

html {
	box-sizing: border-box;
	font-size: var(--fs-500);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body {
	background-color: var(--fletnix-black);
	color: var(--fletnix-white);
	font-family: var(--ff-body);
	font-weight: var(--fw-400);
	font-size: var(--fs-600);
}

.App {
	margin-bottom: 80px;
}

::selection {
	background-color: var(--fletnix-red);
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	max-height: 500px;
}

button {
	font-weight: var(--fw-900);
	background-color: var(--fletnix-red);
	color: var(--fletnix-white);
	border: none;
	border-radius: 4px;
	padding: 0.5em 1em;
	font-size: var(--fs-400);
	cursor: pointer;
}

button:hover {
	background-color: hsla(357, 92%, 47%, 0.834);
	transition: 0.5s ease;
}

footer * {
	color: var(--fletnix-grey-med);
	font-size: var(--fs-400);
}

/* Utility classes */

.logo {
	font-family: var(--ff-logo);
	color: var(--fletnix-red);
}

.heading {
	font-weight: var(--fw-900);
	font-size: var(--fs-900);
}

.btn-lg {
	font-size: var(--fs-700);
}

.container {
	width: var(--section-width);
	margin-inline: var(--section-gutter);
}

.faq-heading {
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
}

/* Styling */

.navbar {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--nav-height);
	z-index: 99;
}

.logo {
	font-size: var(--fs-900);
}

.hero {
	height: calc(100vh);
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	background-image: url(/movie-bg.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.hero::after {
	content: '';
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.hero > * {
	z-index: 1;
}

.signup {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 600px;
	width: 80%;
}

.signup input {
	flex: 3 300px;
	min-height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--fletnix-white);
	padding-left: 15px;
	border: 1px solid var(--fletnix-grey-light);
	border-radius: 4px;
}

input:active,
input:focus {
	appearance: none;
	outline: 3px solid var(--fletnix-white);
	outline-offset: 1px;
}

.feature-card {
	border-bottom: 10px solid var(--fletnix-grey-dark);
	padding: 70px 0px;
}

.feature-card .heading {
	margin-bottom: 15px;
}

.feature-card .container {
	display: grid;
	gap: 60px;
	align-items: center;
	/* justify-content: center; */
	grid-template-columns: 1fr 1fr;
}

.feature-card img {
	max-width: 400px;
}

@media (min-width: 768px) {
	.feature-card:nth-child(even) img {
		order: -1;
	}
}

.question {
	font-size: var(--fs-700);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--fletnix-grey-dark);
	padding: 20px;
	cursor: pointer;
	transition: all 0.25s ease-out;
	margin-bottom: 7px;
}

.question p {
	flex: 1;
}

.question svg {
	flex-basis: 50px;
	height: 40px;
	width: 40px;
	fill: white;
	transition: all 0.3s ease-in;
}

.question:hover {
	background-color: var(--fletnix-grey-light);
}

.active svg {
	transform: rotate(225deg);
}

.answer {
	display: none;
	max-height: 0;
	transform: translateY(-100%);
	transition: all 0.5s;
}

.answer-display {
	background-color: var(--fletnix-grey-light);
	padding: 20px;
	margin-bottom: 7px;
	transform: translateY(0);
	max-height: 500px;
	display: block;
	transition: all 0.5s;
}

.faq-signup {
	padding: 65px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-bottom: 10px solid var(--fletnix-grey-dark);
	text-align: center;
}

.links {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
	margin-bottom: 25px;
}

.contact {
	padding: 50px 0 30px 0;
}

#languages {
	padding: 10px 15px 10px 10px;
	background-color: transparent;
	margin-bottom: 25px;
	border: 1px solid var(--fletnix-grey-med);
	border-radius: 4px;
	color: var(--fletnix-white);
}

.carousel {
	height: 650px;
	padding: 100px;
	width: 100%;
	/* border: 1px solid var(--fletnix-white); */
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	user-select: none;
	cursor: pointer;
	transition: all 0.2s;
	transform: scale(0.98);
	will-change: transform;
	position: relative;
	background: transparent;
	font-size: 0;
	perspective: 1000px;
	border-bottom: 10px solid var(--fletnix-grey-dark);
}

.carousel.dragging {
	background: rgba(255, 255, 255, 0.3);
	cursor: grabbing;
	cursor: -webkit-grabbing;
	transform: scale(1);
}

.card {
	display: inline-flex;
	width: 300px;
}

.card:nth-child(even) {
	transform: scaleX(1.1) rotateY(30deg);
}
.card:nth-child(odd) {
	transform: scaleX(1.1) rotateY(-30deg);
}

@media (max-width: 768px) {
	:root {
		--fs-900: 2rem;
		--fs-600: 1.125rem;
	}

	.hero {
		padding-inline: 1.25rem;
	}

	.feature-card .container {
		grid-template-columns: 1fr;
		text-align: center;
		place-items: center;
	}

	.feature-card img {
		width: 100%;
	}

	.question p {
		font-size: var(--fs-600);
	}

	.question svg {
		flex-basis: 50px;
		height: 25px;
		width: 25px;
	}
}
